<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="text-center">Edit Article</h1>
    <%= link_to 'Cancel', articles_path, class: "btn btn-outline-danger" %>
  </div>
  <br>
  <%= render 'form' %>


</div>