<!--<div id="page-content">-->
<h1 class="text-center my-5 fw-bolder">Articles Listing Page</h1>
<%= render 'articlelist' %>

<div class="flickr_pagination mb-5">
  <%= will_paginate @articles, :container => false %>
</div>
<!--</div>-->