<div class="container py-5" id="new_article">
  <h1 class="text-center">Create Article</h1>

  <%= render 'form' %>

  <div class="text-center mt-3">
    <%= link_to 'Back', class: "text-decoration-none" %>
  </div>
</div>