<div class="container py-5" id="new_article">
<!--  <h1 class="text-center">Create Article</h1>-->
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="text-center">Create Article</h1>
    <%= link_to 'Cancel', articles_path, class: "btn btn-outline-danger" %>
  </div>
  <br>
  <%= render 'form' %>

<!--  <div class="text-center mt-3">-->
    <%#= link_to 'Back', :back, class: "text-decoration-none" %>
<!--  </div>-->
</div>