<!--<div id="page-content">-->
<h1 class="text-center my-5 fw-bolder">Users</h1>
<%= render 'userlist' %>

<div class="flickr_pagination mb-5">
  <%= will_paginate @users, :container => false %>
</div>
<!--</div>-->