@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'bootstrap/dist/css/bootstrap';

html,body {
  height: 100%;
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#home-container {
  margin-top: 4rem;
}

#home-section {
  background-image: linear-gradient(#afc4bf, #deded6);
  //background-image: asset-url('blog-image1.jpg');
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //height: 450px;
}

#page-content {
  flex: 1 0 auto;
  background-color: #eee;
}

#sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#site-link {
  &:hover {
    color: white !important;
  }
}

#create-link {
  margin: auto;
  display: flex;
  justify-content: space-between;
}