.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__btn {
    &--view {
      background-color: #318CE7 !important;
      color: white !important;
      border-radius: 100px !important;
      padding-left: 2rem !important;
      padding-right: 2rem !important;

      &:hover {
        background-color: #0066b2 !important;
      }
    }
  }
}

.section-profile {
  display: flex;
  justify-content: space-between;
  gap: 1rem;


  &::before {
    content: "" !important;
    border: 1px solid rgba(233, 233, 233, 0.9) !important;
    align-self: stretch !important;
    margin-right: 1rem !important;
  }
}

@media (max-width: 1000px) {
  .section-profile {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.user-entry {
  width: 100px;
  //margin: auto;
  padding: 10px 0;
  color: #242424;
  //border-bottom: 1px solid #ccc;

  display: flex;
  align-items: center;

  gap: 1rem;
}