<footer class="footer py-3 bg-dark" id="sticky-footer">
  <div class="container text-center">
    <span class="text-muted">Alpha Blog by <%= link_to '@Chaitanya', "https://chaitanya31612.github.io/", class: 'text-muted', id: 'site-link' %></span>
  </div>
</footer>